<a href="https://colab.research.google.com/github/shaistahafeez/IBM-data-science-professional-certificate-Capstone/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Space X Falcon 9 First Stage Landing Prediction

### Data wrangling

### Objectives

Perform exploratory Data Analysis and determine Training Labels

Exploratory Data Analysis
Determine Training Labels

### Import Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('./dataset_part_1.csv')
df.head()

   FlightNumber        Date BoosterVersion  ...  Serial   Longitude   Latitude
0             1  2010-06-04       Falcon 9  ...   B0003  -80.577366  28.561857
1             2  2012-05-22       Falcon 9  ...   B0005  -80.577366  28.561857
2             3  2013-03-01       Falcon 9  ...   B0007  -80.577366  28.561857
3             4  2013-09-29       Falcon 9  ...   B1003 -120.610829  34.632093
4             5  2013-12-03       Falcon 9  ...   B1004  -80.577366  28.561857

[5 rows x 17 columns]

Identify and calculate the percentage of the missing values in each attribute

In [3]:
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

Identify which columns are numerical and categorical:

In [4]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

### TASK 1: Calculate the number of launches on each site

In [5]:
df['LaunchSite'].value_counts()

CCSFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: LaunchSite, dtype: int64

### TASK 2: Calculate the number and occurrence of each orbit

In [6]:
df['Orbit'].value_counts()

GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
SO        1
GEO       1
HEO       1
Name: Orbit, dtype: int64

### TASK 3: Calculate the number and occurence of mission outcome per orbit type

In [7]:
landing_outcomes=df['Outcome'].value_counts()
landing_outcomes

True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
None ASDS       2
False Ocean     2
False RTLS      1
Name: Outcome, dtype: int64

In [9]:
for i,outcome in enumerate(landing_outcomes.keys()):
  print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 None ASDS
6 False Ocean
7 False RTLS

In [10]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

### TASK 4: Create a landing outcome label from Outcome column

In [12]:
landing_class = []
for key, value in df['Outcome'].items():
  if value in bad_outcomes:
    landing_class.append(0)
  else:
    landing_class.append(1)

In [13]:
df['Class']=landing_class
df[['Class']].head()

   Class
0      0
1      0
2      0
3      0
4      0

In [14]:
df.head()

   FlightNumber        Date BoosterVersion  ...   Longitude   Latitude Class
0             1  2010-06-04       Falcon 9  ...  -80.577366  28.561857     0
1             2  2012-05-22       Falcon 9  ...  -80.577366  28.561857     0
2             3  2013-03-01       Falcon 9  ...  -80.577366  28.561857     0
3             4  2013-09-29       Falcon 9  ... -120.610829  34.632093     0
4             5  2013-12-03       Falcon 9  ...  -80.577366  28.561857     0

[5 rows x 18 columns]

In [15]:
df['Class'].mean()

0.6666666666666666

In [16]:
df.to_csv('dataset_part_2.csv', index=False)